



.font-roboto {
  font-family: "Roboto", sans-serif; /* Default font for body */
}

.font-roboto {
  font-family: "Roboto", sans-serif;
}

.font-open-sans {
  font-family: var(--font-body);
}

.font-lato {
  font-family: "Lato", sans-serif;
}

.font-montserrat {
  font-family: "Montserrat", sans-serif;
}

.logo-rajputs {
  font-family: "Georgia", serif;
}
.logo-matches {
  font-family: "Arial", sans-serif;
}
